
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --neon-cyan: #00f2ea;
  --neon-purple: #bd00ff;
  --dark-bg: #020010;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar for Chrome/Safari */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--dark-bg);
}

::-webkit-scrollbar-thumb {
  background: #3a0ca3;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--neon-purple);
}
